<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Employee</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
    </div>
</div>

<!--Add Employee Details-->
<div class="container">
    <div class="row">
        <div class="com-sm-4">
            <form (submit)="createEmployee()">
                <div class="mb-2">
                    <input [(ngModel)]="employee.firstName" name="FirstName" type="text" class="form-control" required="true" placeholder="FirstName">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="employee.lastName" name="LastName" class="form-control" required="true" placeholder="LastName">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="employee.jobPosition" name="JobPosition" class="form-control" required="true" placeholder="Job Title">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="employee.email" name="JobPosition" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <select name="" id="" [(ngModel)]="employee.departmentId" name="DepartmentId" class="form-control">
                        <option value="">Select a Department</option>
                        <option [value]="dept.departmentId" *ngFor="let dept of department">{{dept.departmentName}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="employee.photoUrl" name="Photo" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-primary"  value="Create">
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="employee.photoUrl" alt="" class="contact-img">
        </div>
    </div>
</div>