<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Employee</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
    </div>
</div>
<!--Contact Details-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlp3nhXkH2m0YfPeSf8WV15lsvE7O_7Igw3A&usqp=CAU" alt="" class="employee-img-lrg">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary"><span class="fw-bold">Employee Number</span></li> 
                <li class="list-group-item list-group-item-primary"><span class="fw-bold">First Name</span></li> 
                <li class="list-group-item list-group-item-primary"><span class="fw-bold">Last Name</span></li> 
                <li class="list-group-item list-group-item-primary"><span class="fw-bold">Job Title</span></li> 
                <li class="list-group-item list-group-item-primary"><span class="fw-bold">Department</span></li> 
            </ul>
        </div>
    </div>
</div>