<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Employee</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
    </div>
</div>
<!--Contact Details-->
<div class="container" *ngIf="isNotEmpty()">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img [src]="employee.id" alt="" class="employee-img-lrg">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Employee Number :<span class="fw-bold">{{employee.id}}</span></li> 
                <li class="list-group-item list-group-item-primary">First Name: <span class="fw-bold">{{employee.FirstName}}</span></li> 
                <li class="list-group-item list-group-item-primary">Last Name: <span class="fw-bold">{{employee.LastName}}</span></li> 
                <li class="list-group-item list-group-item-primary">Email: <span class="fw-bold">{{employee.Email}}</span></li> 
                <li class="list-group-item list-group-item-primary">Job Title: <span class="fw-bold">{{employee.JobPosition}}</span></li> 
                <li class="list-group-item list-group-item-primary">Department: <span class="fw-bold">{{department.DepartmentName}}</span></li> 
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a routerLink="/" class="btn btn-info"><i class="fa fa-arrow-alt-circle-left"></i>Back</a>
        </div>
    </div>
</div>