<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Employee</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
    </div>
</div>

<!--Edit Employee Details-->
<div class="container">
    <div class="row">
        <div class="com-sm-4">
            <form (submit) = "submitUpdate()">
                <div class="mb-2">
                    <input type="text" [(ngModel)]="employee.firstName" class="form-control" [value]="employee.firstName" name="firstName" placeholder="FirstName" required>
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="employee.lastName" class="form-control" [value]="employee.lastName" name="lastName" placeholder="LastName" required>
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="employee.email" class="form-control" [value]="employee.email" name="email" placeholder="Email" required>
                </div>
                <div class="mb-2">
                    <select name="" id="" class="form-control" type="text" [(ngModel)]="employee.departmentId" [value]="employee.departmentId">
                        <option value="">Select a Department</option>
                        <option [value]="dept.departmentId" *ngFor="let dept of department">{{dept.departmentName}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="employee.photoUrl" class="form-control" [value]="employee.photoUrl" name="photo" placeholder="Photo Url" >
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-primary"  value="Update">
                    <a routerLink="/" class="btn btn-warning ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="employee.photoUrl" alt="" class="contact-img">
        </div>
    </div>
</div>